/* MessagesComponent's private CSS styles */
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.clear {
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

