<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--%userprofile%\documents\iisexpress\config\applicationhost.config check this for host site info-->
    <!-- #ifdef _xml_preprocess -->
    <!--
    -->
    <!-- #else -->
    <add key="Testing_UseIisExpress" value="True" />
    <add key="Testing_HostSite" value="DemoWebApi" />
    <add key="Testing_HostSiteApplicationPool" value="Clr4IntegratedAppPool" />
    <add key="Testing_BaseUrl" value="http://localhost:10965/" />
    <!-- #endif -->

    <add key="xunit.methodDisplay" value="method" />
  </appSettings>
  <system.net>
    <!--Used by http client components. If enabled=true, the first connection might take a few seconds as the client tries to locate proxy.-->
    <defaultProxy enabled="false">
      <proxy bypassonlocal="False" usesystemdefault="True" />
      <bypasslist />
      <module />
    </defaultProxy>

  </system.net>

</configuration>