<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--%userprofile%\documents\iisexpress\config\applicationhost.config check this for host site info-->
		<!-- #ifdef _xml_preprocess -->
		<!--
    -->
		<!-- #else -->
		<add key="Testing_UseIisExpress" value="True" />
		<add key="Testing_HostSite" value="DemoWebApi" />
		<add key="Testing_HostSiteApplicationPool" value="Clr4IntegratedAppPool" />
		<add key="Testing_SlnRoot" value="SLN_ROOT_.VS" />
		<add key="Testing_BaseUrl" value="http://localhost:10965/" />
		<add key="Testing_Username" value="testapi@test.com" />
		<add key="Testing_Password" value="Tttttttt_8" />

		<!-- #endif -->

		<add key="xunit.methodDisplay" value="classAndMethod" />
	</appSettings>

	<system.net>
		<!--Used by http client components. If enabled=true, the first connection might take a few seconds as the client tries to locate proxy.-->
		<!--<defaultProxy enabled="false">
      <proxy bypassonlocal="False" usesystemdefault="True" />
      <bypasslist />
      <module />
    </defaultProxy>-->
		<defaultProxy>
			<proxy bypassonlocal="False" usesystemdefault="True" />
		</defaultProxy>

	</system.net>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
</configuration>
