<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--%userprofile%\documents\iisexpress\config\applicationhost.config check this for host site info-->
    <!-- #ifdef _xml_preprocess -->
    <!--
    -->
    <!-- #else -->
    <add key="Testing_UseIisExpress" value="True" />
    <add key="Testing_HostSite" value="DemoWebApi" />
    <add key="Testing_HostSiteApplicationPool" value="Clr4IntegratedAppPool" />
    <add key="Testing_SlnRoot" value="C:\VSProjects\webapiclientgen" />
    <add key="Testing_BaseUrl" value="http://localhost:10965/" />
    <add key="Testing_Username" value="testapi@test.com" />
    <add key="Testing_Password" value="Tttttttt_8" />

    <!-- #endif -->

    <add key="xunit.methodDisplay" value="method" />
  </appSettings>

  <system.net>
    <!--Used by http client components. If enabled=true, the first connection might take a few seconds as the client tries to locate proxy.-->
    <!--<defaultProxy enabled="false">
      <proxy bypassonlocal="False" usesystemdefault="True" />
      <bypasslist />
      <module />
    </defaultProxy>-->
    <defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="True" />
    </defaultProxy>

  </system.net>
  
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

  <system.diagnostics>
    <switches>
      <!-- You can set the level at which tracing is to occur. In production, Warning may be desired -->
      <add name="SourceSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <!--*** Write to daily rollover log files.-->
      <add name="rollingfile" type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics" template="{LocalDateTime:HH':'mm':'ss} [{Thread}] {EventType} {Source}: {Message}{Data}" initializeData="%AllUsersProfile%\Fonlow\logs\IntegrationTests-{LocalDateTime:yyyy-MM-dd}-p{ProcessId}.log" />
    </sharedListeners>
    <!--This will handle Debug and Trace output.-->
    <trace autoflush="true">
      <listeners>
        <add name="rollingfile" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>