<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- #ifdef _xml_preprocess -->
		<!--
	-->
		<!-- #else -->
		<add key="Testing_BaseUrl" value="http://localhost:5000"/>
		<!-- #endif -->
	</appSettings>

	<system.net>
		<!--Used by http client components. If enabled=true, the first connection might take a few seconds as the client tries to locate proxy.-->
		<defaultProxy enabled="true">
			<proxy bypassonlocal="False" usesystemdefault="True"/>
			<bypasslist/>
			<module/>
		</defaultProxy>

		<connectionManagement>
			<!--For a good value, refer to http://msdn.microsoft.com/en-us/library/system.net.httpwebrequest.aspx-->
			<add address="*" maxconnection="64"/>
		</connectionManagement>
	</system.net>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
