<?xml version="1.0"?>
<configuration>
  <system.web>
    <authentication mode="None" />
    <!-- #ifdef production -->
    <!-- 
    <compilation debug="false" targetFramework="4.6.2" />
    -->
    <!-- #else -->
    <compilation debug="true" targetFramework="4.6.2" />
    <!-- #endif -->
    <httpRuntime targetFramework="4.6.2" />
    <httpModules />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
    </handlers>

    <rewrite>
      <rules>
        <rule name="DemoNGCli" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/NG/" />
        </rule>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(webapi)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/"/>
        </rule>

        <!-- #ifdef _xml_preprocess -->
        <!--     
       <rule name="ForceHttps" enabled="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
       </rule>
    -->
        <!-- #else -->
        <!-- #endif -->

      </rules>
    </rewrite>

    <caching>
      <profiles>
        <add extension=".css" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
        <add extension=".html" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
  </system.webServer>

  <location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
