<?xml version="1.0"?>
<configuration>
  <system.web>
    <authentication mode="None" />
    <!-- #ifdef production -->
    <!-- 
    <compilation debug="false" targetFramework="4.6.2" />
    -->
    <!-- #else -->
    <compilation debug="true" targetFramework="4.6.2" />
    <!-- #endif -->
    <httpRuntime targetFramework="4.6.2" />
    <httpModules />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
    </handlers>

    <rewrite>
      <rules>
		  <!-- #ifdef _xml_preprocess -->
		  <!--     
        -->
		  <!-- #else -->
		  <rule name="Root Hit Redirect" stopProcessing="true">
			  <match url="^$" />
			  <action type="Rewrite" url="/NG/" />
		  </rule>
		  <!-- #endif -->
		  
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(webapi)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/"/>
        </rule>

	  </rules>
    </rewrite>

    <caching>
      <profiles>
        <add extension=".css" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
        <add extension=".html" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
  </system.webServer>

  <location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
